.builder{
	height: 455px;
  	width: 100%;
  	padding: 3em 2em 2em;
}

.lineup-container{
	
	.horizontal-scroll {
	    width: 100%;
	    

	    @include breakpoint(small) {
        	height:210px;
	      }

	      @include breakpoint(medium) {
	        height:245px;
	      }
		display: inline-flex;	    
		overflow-x: scroll;
	    overflow-y: hidden;
	    white-space: nowrap;
    }

}