.header {
	position: relative;
	min-height: 380px;
	width: 100%;
	background: transparent;

	.header--top {
		padding:25px;
		@include bg-color($blue);
	}

	.header--picture {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		@include background-size(cover !important);
		z-index: 0;
	}

	.header--content {
		position: absolute;
		height: 100%;
		z-index: 1;
		top: 0;
		width: 100%;
	}
}