.header {
	position: relative;
	height: 370px;
	width: 100%;
	background: transparent;
	

	.indicator{
		@include breakpoint(small) {
			top: 35px;
		}
		left: auto;
		position: relative;
		text-align: center;
		top: 28%;
  		position: relative;
  		text-align: center;
		@include breakpoint(small) {
			width: 100%;
			font-size:3em;
		}

		@include breakpoint(medium) {
			font-size:2em;
		}
		.flex-row {
			padding:8px 0;
			margin: 0 12.5%;
			border-bottom: 1px solid $blue;
			.text {
				margin: auto;
				text-align: left;
			}
			.header-rating {
				color:$green;
				font-weight: 800;
			}
		}
		.rating-value {
			padding:5px 0;
			font-size:1.5rem;
		}
	}
	.artists-number {
		color:$blue;
		padding-top: 8px;
		.score {
			padding:5px 0;
		}
	}
	
	.header--top {
		padding:25px;
		@include bg-color($blue);
		h2{
			text-align:center;
		}
	}

	.header--picture {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		@include background-size(cover !important);
		z-index: 0;
	}

	.header--content {
		position: absolute;
		height: 100%;
		z-index: 1;
		top: 0;
		width: 100%;
	}
}
	.header--content.second {
		top: 76px;
		@include breakpoint(medium) {
			display: inline-flex;
		 }


		background: #56626e;
		width: 100%;
		height: 100%;
		/* top: 0; */
		left: 0;
	}
