.outlook {

	.outlook--header {
		padding: 30px;
	}

	.outlook--content {
		background-image: url("/images/setstorySalesMetricsDemo.png");
		background-position: center center;
		background-size: auto 100%;

		background-repeat: no-repeat;

		height:100%;
		width:100%;
		@include breakpoint(medium) {
			background-size: 100% auto;
		}
	}
	

	@include breakpoint(small) {
		width: 100%;
	}

	@include breakpoint(medium) {
		width: 100%;
	}
	
		

	svg {
		opacity: .4;
		top: 50%;
		@include transform(translate(-50%,-50%));
		position: absolute;
	}
	.d3-tip {
        line-height: 1;
        font-weight: bold;
        padding: 12px;
        background: rgba(0, 0, 0, 0.8);
        color: #fff;
        border-radius: 2px;
      }
	.progress-graph path{
		stroke: #000;
	}
}