<div class="artist">
	<div class="modules--wrapper header">
		<div class="header--content">
			<a ng-click="back()" href="" class="button-white" >Back</a>
			<div class="header--artist--title wow fadeIn">
					<h1>{{choice}}</h1>
					<h2>{{sets.length}} concerts</h2>
					<h2 class="bookingvalue">Booking Value</h2>
					<h2 class="score">{{artistScore}}</h2>
			</div> 
			<ul class="header--artist--info">
				<li>Country <p>{{artistData.country_of_origin}}</p></li>
				<li>Genre <p>{{artistData.main_genre}}</p></li>
				<li>Decade <p>{{artistData.decade}}</p></li>
			</ul>
		</div>
		<div class="header--picture wow fadeIn" style="background: url({{artistsPhoto}}) no-repeat center center;"></div>
		<div class="buffer"></div>
	</div>
	<div class="wow fadeIn modules--wrapper content">
		<div class="module social">
			<h2>Social</h2>
			<d3barchart dataset="socialset"> </d3barchart>
		</div>
		<div ng-repeat="play in plays" class="module totalplays {{play.name}}-module">
			<h2>Total Plays <i class="fa fa-{{play.name}}"></i></h2>
			<ul class="bars">
				<li ng-repeat="m in play.months">
					<p class="totalplays--month">{{m.name}} </p>
					<p class="totalplays--score">{{m.plays}}</p>
					<div class="bars--item" ng-style="scaleHeight(play,m.plays)"></div>
				</li>
		</div>
		
		<div class="module timeline">
			<h2>timeline</h2>
			<div class="line"></div>
			<ul class="wow fadeIn timeline--concerts" >
				<li ng-repeat='concert in sets'>
					<div class="bull--time"><span></span>
					</div>
					<div class="inner--header">
						<h3>
							<span>{{concert.eventDate | amDateFormat:'ddd'}}</span>
	    					<span>{{concert.eventDate | amDateFormat:'MMM DD'}}</span>
	    					<span>{{concert.eventDate | amDateFormat:'YYYY'}}</span>
	    				</h3>
	    				
		    			<h1>{{concert.location.city}}, {{concert.location.country}} </h1>
	    			</div>
		    		<div class="inner">
		    			<div class="inner--module">
		    				<h3> Info</h3>
			    			<div class="insight-box">
			    				<h2>{{concert.tracks.length || "-"}} <span>tracks </span></h2>
			    			</div>
		    			</div>
		    			<div class="inner--module setlist-container wow fadeIn">
	    			  		<h3 ng-show="concert.tracks.length > 0"> Set</h3>
		    				<div class="tracklist-container">
		    					<ol class="track-list">
				    				<li  class="row-track wow fadeIn" ng-repeat='track in concert.tracks' >
					    				<p class="track-name" style="margin:0">{{track.name}} 
				    						<span ng-show="track.originalArtist">- <small>{{track.originalArtist}}</small></span>
					    				</p>
				    				</li>
		    			    	</ol>
		    			  	</div>
		    			</div>
	    			
	    			<div class="inner--module genres-viz wow fadeIn flex-row">
	    				<div class="media-container flex-column">
		    				<h3 ng-show="concert.media.length > 0"> Social </h3>
		    				<div ng-repeat='media in concert.media' class="wow fadeIn concert-image-container">
			    				<div ng-show='media.type == image' ng-repeat='m in media' >
			    					<div ng-show="showImage(m)" >
				    					<img ng-src="{{m.url}}" style = "width:16vw;height:25vh">
				    				</div>
				    			</div>
		    			  	</div>
	    				</div>
	    			</div>
	    		</div>
	    			  	
				</li>
			</ul>
			
	    	
		</div>
	</div>
</div>
