<div class="concerts" id="lineup-page">
	<div class="modules--wrapper header">
		<div class="header--content">
			<div class="header--top">
				<h2>SetStory</h2>
			</div>
			<a href="#/" class="button-white">Back to Search..</a>
		</div>
		<div class="header--picture" style="background: url(../images/bg-landing.png) no-repeat center center;"></div>
	</div>
	<div class="modules--wrapper">
		<div class="module score-page">
			<ul>
				<li>Pageviews<div class="score">2.104</div></li>
				<li>Page / Visit<div class="score">3.30</div></li>
				<li>Avg. Visit Duration<div class="score">0:30:23</div></li>
				<li>Bonuce Rate<div class="score">40.91%</div></li>
			</ul>
		</div>
		<div class="module outlook">
			
		</div>
	</div>
</div>