<div class="concerts" id="lineup-page">
	<div class="modules--wrapper header wow fadeIn">
		<div class="header--content">
			<div class="header--top">
				<h2>{{eventName}}</h2>
			</div>
			<!-- <a href="#/" class="button-white">Back to Search..</a> -->
		</div>
		<div class="header--content second">
			<div class="indicator flex-column">
				<span class="flex-column artists-number">
					<h2 class="flex">Artists</h2>
					<span class="score flex">{{event.lineup.length}}</span>
				</span>
				<span class="flex-row">
					<h2 class="flex-fixed"><strong>Booking Value</strong></h2>
				</span>
				<span class="flex-row">
					<h2 class="flex-fixed">Average</h2>
					<span class="flex-fixed average booking-value">{{event.averageBooking}}</span>
				</span>
				<span class="flex-row">
					<h2 class="flex-fixed">Lowest</h2>
					<span class="flex-fixed lowest booking-value">{{event.lowestBooking}}</span>
				</span>
				<span class="flex-row">
					<h2 class="flex-fixed">Highest</h2>
					<span class="flex-fixed highest booking-value">{{event.highestBooking}}</span>
				</span>
			</div>
			<div class="module visits wow fadeIn">
				<h2>Ticket Sales</h2>
				<ul class="module--visit--score">
				</ul>

				<ul class="visit--score--dates">
					<!-- <li><span class="ball"></span> New visitors</li>
					<li><span class="ball blue"></span> Returning visitor</li> -->
				</ul>

				<d3percentage dataset="60"></d3percentage>
			</div>
			<div class="indicator">
				<h2> Event Rating </h2>
				<h3><span class="score">{{eventScore}}</h3>
			</div>
		</div>
		<div class="header--picture" style="background: url(../images/bg-landing.jpg) no-repeat center center;"></div>
	</div>
	<div class="modules--wrapper wow fadeIn">
		<div class="module builder wow fadeIn search-container artists">
			<h2>Customize your lineup</h2>
			<br>
			<autocomplete class="search-bar" 
				ng-model="choice"
				attr-placeholder="Add artists to your lineup.." 
				click-activation="true" 
				data="artists" 
				on-type="updateArtists" 
				on-select="addArtists"></autocomplete>
		
			<div class="modules--wrapper lineup-container">
				<h2 class="wow animated">Lineup</h2>
				<div class="horizontal-scroll">

					<div class="wow animated artist-row" ng-repeat="artist in event.lineup">
						<div ng-click="gotoArtist(artist)" class="artist-lineup-container wow slideInLeft animated">
							<div class="hand delete"><a href=""  ng-click="removeArtist($index)"><i class="wow animated fa fa-2x fa-cross">x</i></a> </div>
							<div ng-click="gotoArtist(artist)" class=" artist-lineup">
								<img ng-src="{{artist.artistimageURL}}"/>
							</div>
							<div class="hand artist-lineup-text">
								<div>
									<a href="" ng-click="gotoArtist(artist)"> {{artist.artist | limitTo:20}} </a></div>
							</div>
						</div>
					</div>
				</div>
			</div>		
		</div>
	</div>
	

	<div class="modules--wrapper wow fadeIn">
		
		<div class="module outlook wow fadeIn">
			<h2>Sales Metrics</h2>
			
			
			<d3progress> </d3progress>
		</div>

		

		<div class="module social">
			<h2>Social</h2>
			<d3barchart dataset="eventSocialSet"> </d3barchart>
		</div>
	</div>

	
</div>