<div class="concerts" id="lineup-page">
	<div class="modules--wrapper header">
		<div class="header--content">
			<div class="header--top">
				<h2>{{detail.event}}</h2>
			</div>
			<!-- <a href="#/" class="button-white">Back to Search..</a> -->
		</div>
		<div class="header--picture" style="background: url(../images/bg-landing.jpg) no-repeat center center;"></div>
	</div>
	<div class="modules--wrapper">
		<div class="module score-page">
			<ul>
				<li>Score<div class="score">{{eventScore}}</div></li>
				<li>Artists<div class="score">{{detail.lineup.length}}</div></li>
				<li>Date<div class="score">July 25</div></li>
				<li>Prices<div class="score">20 U$S</div></li>
			</ul>
		</div>

		<div class="module outlook">
			<h2>Sells progression</h2>
			
			
			<d3progress> </d3progress>
		</div>

		<div class="module visits">
			<h2>Visits</h2>
			<ul class="module--visit--score">

			</ul>

			<ul class="visit--score--dates">
				<li><span class="ball"></span> New visitors</li>
				<li><span class="ball blue"></span> Returning visitor</li>
			</ul>

			<d3percentage dataset="60"></d3percentage>
		</div>

		<div class="module social">
			<!--<div class="summary-data-body">
				<div class="data-container">
					<div class="data-row">
						<div class="data-title"></div>
						<d3barchart dataset="dataset"> </d3barchart>
					</div>
				</div>
			</div>-->
			<h2>Social</h2>
			<ul class="bars">
				<li>
					<i class="fa fa-google-plus"></i> 
					<div class="bars--item">
						<div class="bars--item--dates">
							<i class="fa fa-google-plus"></i>
							<p>23023</p>
						</div>
					</div>
				</li>
				<li>
					<i class="fa fa-stumbleupon"></i>
					<div class="bars--item">
						<div class="bars--item--dates">
							<i class="fa fa-stumbleupon"></i>
							<p>23023</p>
						</div>
					</div>
				</li>
				<li>
					<i class="fa fa-dribbble"></i>
					<div class="bars--item">
						<div class="bars--item--dates">
							<i class="fa fa-dribbble"></i>
							<p>23023</p>
						</div>
					</div>
				</li>
				<li>
					<i class="fa fa-facebook"></i>
					<div class="bars--item">
						<div class="bars--item--dates">
							<i class="fa fa-facebook"></i>
							<p>23023</p>
						</div>
					</div>
				</li>
				<li>
					<i class="fa fa-twitter"></i>
					<div class="bars--item">
						<div class="bars--item--dates">
							<i class="fa fa-twitter"></i>
							<p>23023</p>
						</div>
					</div>
				</li>
				<li>
					<i class="fa fa-vimeo-square"></i>
					<div class="bars--item">
						<div class="bars--item--dates">
							<i class="fa fa-vimeo-square"></i>
							<p>23023</p>
						</div>
					</div>
				</li>
				<li>
					<i class="fa fa-yahoo"></i>
					<div class="bars--item">
						<div class="bars--item--dates">
							<i class="fa fa-yahoo"></i>
							<p>23023</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="modules--wrapper lineup-container">
		<h2 class="wow  animated">Lineup</h2>
		<div class="wow  animated artist-row" ng-repeat="artist in detail.lineup">
			<div class="artist-lineup-container wow slideInLeft animated">
				<div ng-click="gotoArtist(artist)" class="hand artist-lineup">
					<img ng-src="{{artist.artistimageURL}}"/>
				</div>
				<div class="artist-lineup-text">
					<a href="" ng-click="gotoArtist(artist)">{{artist.artist | limitTo:20}}</a>
				</div>
			</div>
			<div class="buffer"></div>
		</div>
	</div>
</div>