<div class="landing" id="new-landing-page">
	<div class="landing--search--container fadeIn">
		<autocomplete class="search-bar fadeIn" ng-model="search" attr-placeholder="Festival name" click-activation="true" data="events" on-type="updateEvents" on-select="gotoEvent"></autocomplete>

		<div class="landing--search--text wow fadeIn"> 
			Find an upcoming lineup
			<!-- <div class="autocomplete venue fadeIn">
				<input type="text"placeholder="venue"class="autocomplete search-bar"></input>
			</div> -->
			<p style="font-size:1rem;padding-top:3px">Try "EDC Las Vegas 2015"</p>

		</div>

	</div>
</div>


