.artist {
	
	.header {

		h2 {
			margin-top: 10px;
		}

		.header--content {
			height: 100%;
			@include bg-color($blue);
		}

		.header--artist--title {
			@include vertical-align;
			text-align: center;
			z-index: 1;
			.bookingvalue {
				padding-top:5px;
			}
			.score {
				margin-left:auto;
				margin-right:auto;
				width:20%;
				color:$green;
				background-color:white;
				border-radius: 100vh;
				padding:5px;
			}
		}

		.header--artist--info {
			position: absolute;
			z-index: 1;
			bottom: 0;
			width: 100%;

			li {
				font-size: 12px;
				font-weight: $light;
				text-transform: uppercase;
				float: left;
				width: (100%)/3;
				min-height: 72px;
				padding: 20px 30px;
				background: $bg-grey-dark;
				border-right: 2px solid $grey-blue;

				p {
					font-size: 14px;
					color: $blue;
					clear: both;
					margin-top: 5px;
				}
			}
		}
	}

	.social {
		width: 100%;
	}

	.totalplays {
		
		@include breakpoint(small) {
			width: 100%;
		}
		@include breakpoint(medium) {
			width: (100%)/3;
		}
		@include breakpoint(large) {
			width: (100%)/3;
		}

		
		&.setmine-module {

			.totalplays--score {
				color: #8560a8;
			}

			.bars--item {
				background: #8560a8;
			}	
		}

		&.soundcloud-module {

			.totalplays--score {
				color: #f68e56;
			}

			.bars--item {
				background: #f68e56;
			}
		}

		&.youtube-module {

			.totalplays--score {
				color: #ff4e4e;
			}

			.bars--item {
				background: #ff4e4e;
			}
		}
	}
	
	.button-white {
		top: 30px;
		left: 30px;
		position: absolute;
		z-index: 1;
	}
}