.concerts {
	background: $bg-grey-dark;
	
	.header {

		.button-white {
			position: absolute;
			bottom: 25px;
			right: 25px;
		}
	}

	.score-page {
		width: 40%;
	}

	.outlook {
		width: 60%;
	}
}



.artist-general-info {
  text-align:right; 
  margin-right:1vw; 
}

.artist-image-row {
  width: 25%;
  padding: 0vh 3vw; 
}

.artist-lineup-container {
   .artist-lineup {
    border-radius: 10000px; 
    background-color: rgba(46,204,116,1);
    max-width: 175px;
    min-height: 175px;
    min-width: 175px;
    overflow: hidden;
    max-height: 175px;
    position:relative;
  }
}
.artist-lineup img{
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.artist-row{
  display: inline-block;
}
.artist-lineup-text {
  font-size:2em; 
}

.artist-text-row {
  text-align:center; 
  color:black;
  padding: 0vh 3vw; 
}


.artist-title {
  background-color: #2ecc74;
  text-align: left;
  font-size: 3em;
  padding: 1vh 1vw;
  font-weight: 900;
}

