.concerts {
	background: $bg-grey-dark;
	
	.header {

		.button-white {
			position: absolute;
			bottom: 25px;
			right: 25px;
		}
	}

	.score-page {
		width: 40%;
	}

	.outlook {
		width: 60%;
	}
}

.progress-graph path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}


#donut {
  width: 29rem;
  height: 29rem;
  margin: 0 auto;
}

path.color0 {
  fill: #1072b8;
}

path.color1 {
  fill: #35526b;
}

.precentage-graph {
  font-family: "RamaGothicM-Heavy",Impact,Haettenschweiler,"Franklin Gothic Bold",Charcoal,"Helvetica Inserat","Bitstream Vera Sans Bold","Arial Black",sans-serif;
  font-size: 5rem;
  font-weight: 400;
  line-height: 10rem;
  fill: #1072b8;
  text-align:center; 
}

.progress-graph {
  border: 1px solid #1072b8;
}
.circle-text {
  width: 50%;
  max-width: 100px;
  float: left;
}
.circle-text:after {
    content: "";
    display: block;
    width: 100%;
    height:0;
    padding-bottom: 100%;
    background: #4679BD; 
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
}
.circle-text div {
  float: left;
  width: 100%;
  padding-top: 50%;
  line-height: 1em;
  margin-top: -1.3em;
  text-align: center;
  color: white;

}

.artist-general-info {
  text-align:right; 
  margin-right:1vw; 
}

.artist-image-row {
  width: 25%;
  padding: 0vh 3vw; 
}

.artist-lineup-container {
   .artist-lineup {
    border-radius: 10000px; 
    background-color: rgba(46,204,116,1);
    max-width: 175px;
    min-height: 175px;
    min-width: 175px;
    overflow: hidden;
    max-height: 175px;
    position:relative;
  }
}
.artist-lineup img{
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.artist-row{
  display: inline-block;
}
.artist-lineup-text {
  font-size:2em; 
}

.artist-text-row {
  text-align:center; 
  color:black;
  padding: 0vh 3vw; 
}


.artist-title {
  background-color: #2ecc74;
  text-align: left;
  font-size: 3em;
  padding: 1vh 1vw;
  font-weight: 900;
}

